# Игнорировать файлы состояния Terraform
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/
.terraform.lock.hcl

# Игнорировать файлы конфигурации Terraform
*.tfvars
*.tfvars.json

# Игнорировать временные файлы
*.tfbackup
*.tfout
