# Игнорировать файлы состояния Terraform
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
.terraform.lock.hcl

# Игнорировать файлы конфигурации Terraform
*.tfvars
*.tfvars.json

# Игнорировать временные файлы
*.tfbackup
*.tfout
*.retry

# Игнорируем файлы с секретами
credentials.json

# Игнорируем комьюнити роли
.imported_roles/

# Игнорируем ненужные файлы Vagrant и Molecule
.vagrant/
*.vdi
*.log
*.pyc
.molecule
.cache
.pytest_cache