pitr:
  enabled: false
  oplogSpanMin: 0
  compression: s2
storage:
 type: s3
 s3:
  provider: gcs
  region: eu
  forcePathStyle: true
  bucket: {{ mongodb_backup_bucket }}
  prefix: pbm/{{ mongodb_backup_prefix }}
  endpointUrl: https://storage.googleapis.com
  credentials:
    access-key-id: {{ mongodb_backup_access_key }}
    secret-access-key: {{ mongodb_backup_secret_key }}
  maxUploadParts: 10000
  storageClass: STANDARD
  insecureSkipTLSVerify: false
backup:
  compression: s2
